aiofiles
aiohttp
aiosignal
altair
annotated-types
anthropic
antlr4-python3-runtime
anyio
async-timeout
asyncer
attrs
backoff
backports.zoneinfo
bcrypt
beautifulsoup4
bidict
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
contourpy
cryptography
cycler
dataclasses-json
Deprecated
distro
effdet
emoji
exceptiongroup
fastapi
fastapi-socketio
filelock
filetype
flatbuffers
fonttools
frozenlist
fsspec
gitdb
GitPython
google-auth
googleapis-common-protos
graphlib-backport
greenlet
grpcio
h11
httpcore
httpx
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib-resources
iopath
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
kubernetes
langchain
langdetect
langsmith
layoutparser
Lazify
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
monotonic
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
nltk
nodeenv
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
omegaconf
onnx
onnxruntime
openai
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
overrides
packaging
pandas
pdf2image
pdfminer.six
pdfplumber
Pillow
pkgutil-resolve-name
portalocker
posthog
prisma
protobuf
pulsar-client
pyarrow
pyasn1
pyasn1-modules
pycocotools
pycparser
pydantic
pydantic-core
pydeck
Pygments
PyJWT
pyparsing
pypdfium2
PyPika
pysqlite3-binary
pytesseract
python-dateutil
python-dotenv
python-engineio
python-graphql-client
python-iso639
python-magic
python-multipart
python-socketio
pytz
PyYAML
rapidfuzz
referencing
regex
requests
requests-oauthlib
rich
rpds-py
safetensors
scipy
simple-websocket
six
smmap
sniffio
soupsieve
SQLAlchemy
starlette
streamlit
sympy
syncer
tabulate
tenacity
tiktoken
timm
tokenizers
toml
tomli
tomlkit
toolz
torch
torchvision
tornado
tqdm
transformers
triton
typer
typing-extensions
typing-inspect
tzdata
tzlocal
unstructured
unstructured-inference
unstructured.pytesseract
uptrace
urllib3
uvicorn
validators
watchdog
watchfiles
websocket-client
websockets
wrapt
wsproto
yarl
zipp